*.pyc
*.bak
*.csv
*.npz
*.txt
*.log
.idea/
TESTDIR/
Amily_Train/
*/.ipynb_checkpoints/
Amily_Prod/.ipynb_checkpoints/
Amily_Test/.ipynb_checkpoints/
Amily_Test/Tickets/
Amily_Train/Cricket/
Amily_Train/Globe/
Amily_Train/Sprint/
Amily_Train/Test_Ticket/
Amily_Train/XLCom/
Amily_Train/TEF
Amily_Train/USCC
Amily_Train/BCAN
Amily_Train/AirTel
Amily_Train/Other
Amily_Train/Clustering/*.xlsx
Amily_Train/Clustering/*.txt
Self_Service/Features/*.json
Self_Service/Remote_Execution/
Self_Service/SSL/
Self_Service/Unit-test/
Self_Service/Archive/*.txt
Self_Service/Incoming_File_Transfer/*.md5
Self_Service/Incoming_File_Transfer/*.json
Self_Service/Outbound_File_Transfer/*.md5
Self_Service/Outbound_File_Transfer/*.pkl
Self_Service/Outbound_File_Transfer/*.json

